   body {
        font-family: Arial, sans-serif;
        background: #eee;
        padding: 30px;
    }

    .poster {
        min-height: 1400px;
        width: 1000px;
        background: white;
        padding: 50px 70px;
        margin: auto;
        border: 3px solid #000;
        text-align: center;
    }

    h1 {
        font-size: 42px; /* Pinalaki */
        font-weight: bold;
        color: #000;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    h2 {
        font-size: 32px;
        font-weight: bold;
        margin: 40px 0 20px 0;
        text-transform: uppercase;
    }

    .row {
        display: flex;
        justify-content: space-between;
        padding: 12px 0;
        font-size: 28px; /* Pinalaki ang numbers */
        font-weight: bold;
        border-bottom: 1px solid #ccc;
    }

    .row span {
        width: 45%;      
        text-align: center;
    }

    .students {
        color: #000;
        font-size: 35px;
    }
    
    .regular {
        color: #000;
        font-size: 35px;
    }

    .promo {
        color: #000;
        font-weight: bold;
        margin-top: 50px;
        font-size: 32px;
    }

    .locker {
        margin-top: 40px;
        font-size: 30px;
        font-weight: bold;
        line-height: 45px;
    }

    .lifetime {
        margin-top: 60px;
        font-size: 36px;
        font-weight: bold;
        color: #000;
        text-transform: uppercase;
    }
